html {
    background-color: #29435d;
}

@font-face {
    font-family: 'BukaBird';
    src: url('assets/fonts/Buka\ Bird.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.buka-titulos {
    font-family: 'BukaBird', sans-serif;
    font-size: 3rem;
    color: #315478;
    padding: 0.5rem;
    margin: 1rem 0;
}

.font-body {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #edf5fd;
    padding: 0.5rem;
    margin: 0 1rem;
}

.portada {
    margin: -0.3rem 0;
    padding: 0;
    -webkit-text-stroke: 0.05px #c7748e;
}

h1 {
    font-size: 9rem !important;
}

body,
.contenedor {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 100px rgb(0, 0, 0, 1);
}

.contenedor {
    margin: 0;
    max-width: 500px;
    width: 100%;
    background-color: #8cc0f5;
    background-image: url(assets/img/fondo.png);
    background-size: cover;
    /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita */
    width: 100%;
    /* o el tamaño que quieras */
    padding: 0 0 3em 0;
}

.img-portada {
    margin: 0;
    max-width: 500px;
    width: 100%;
}

img {
    margin: 2rem 0;
    max-width: 500px;
}

.boton {
    font-family: "Schoolbell", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    background-color: #c7748e;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #edf5fd;
    animation: bounce 1s infinite;
}

a {
    text-decoration: none;
}

/* Definir la animación 'bounce' */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Comienza y termina en la posición original */
    }

    50% {
        transform: translateY(-5px);
        /* Sube 10px en el medio del ciclo */
    }
}